<!DOCTYPE html>
<html>
  <head>
    <title>Kaie Careers</title>
    <link rel="icon" type="image/x-icon" href="https://353c2c84-4c85-4384-8807-1f6ec4563b7d-00-1y5lxll9xb1cq.pike.replit.dev/static/ghost.png">
    <!--<a href="https://www.flaticon.com/free-icons/horror" title="horror icons">Horror icons created by Good Ware - Flaticon</a>-->
  </head>
  <body>
    <h1>Kaie Careers</h1><br>
    <img src="https://353c2c84-4c85-4384-8807-1f6ec4563b7d-00-1y5lxll9xb1cq.pike.replit.dev/static/banner.jpeg" height="300">
   <h2>About Kaie</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore         et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut          aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse             cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in             culpa qui officia deserunt mollit anim id est laborum.</p>
  <h2>Open positions</h2>
  <p>TODO- Show the jobs here</p>
  <button>Contact Us</button>
  </body>
</html>